
    <div class="form-group">
      <label class="col-md-12 control-label" for="identificacion">Identificacion</label>  
      <div class="col-md-12">
      <input name="identificacion" type="number" placeholder="Escriba la identificacion" class="form-control input-md"> 
      </div>
    </div>
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-12 control-label" for="client-name">Nombre</label>  
      <div class="col-md-12">
      <input  name="nombre" type="text" placeholder="Escriba el Nombre" class="form-control input-md"> 
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-12 control-label" for="client-name">Apellido</label>  
      <div class="col-md-12">
      <input name="apellido" type="text" placeholder="Escriba el Apellido" class="form-control input-md">
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-12 control-label" for="client-name">Edad</label>  
      <div class="col-md-12">
      <input name="edad" type="number" placeholder="Digite su edad" class="form-control input-md">
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-12 control-label" for="client-name">Celular</label>  
      <div class="col-md-12">
      <input name="celular" type="number" placeholder="Digite su telefono" class="form-control input-md">
      </div>
    </div>

    <!-- Multiple Radios -->
    <div class="form-group">
      <label class="col-md-12 control-label" for="client-status">Categoria del familiar</label>
      <div class="col-md-12">
        <select name="categoria" class="form-control" >
          <option value="">Seleccione un valor</option>
          {% for categoria in categorias %}
          <option value="{{ categoria.idcategoria }}">{{ categoria.nombre_cat }}</option>
          {% endfor %}
        </select>
      </div>
    </div>

