<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<div class="container">
	<div class="row">
	    
	    
<link href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css" rel="stylesheet" media="screen">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" rel="stylesheet">



<!-- FORM  -->	    
	   <div class="col-md-12">
	       
	    <form class="form-horizontal" id="form-edit-client">
<fieldset>

<!-- Form Name -->
<legend>Familia</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="client-name">Nombre</label>  
  <div class="col-md-4">
  <input id="client-name" name="client-name" type="text" placeholder="Escriba el Nombre" class="form-control input-md"> 
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="client-name">Apellido</label>  
  <div class="col-md-4">
  <input id="client-name" name="client-name" type="text" placeholder="Escriba el Apellido" class="form-control input-md">
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="client-name">Edad</label>  
  <div class="col-md-4">
  <input id="client-name" name="client-name" type="number" placeholder="Digite su edad" class="form-control input-md">
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="client-name">Telefono</label>  
  <div class="col-md-4">
  <input id="client-name" name="client-name" type="number" placeholder="Digite su telefono" class="form-control input-md">
  </div>
</div>

<!-- Multiple Radios -->
<div class="form-group">
  <label class="col-md-4 control-label" for="client-status">Estado del familiar</label>
  <div class="col-md-4">
  <div class="radio">
    <label for="client-status-0">
      <input type="radio" name="client-status" id="client-status-0" value="Activo" checked="checked">
      Active
    </label>
	</div>
  <div class="radio">
    <label for="client-status-1">
      <input type="radio" name="client-status" id="client-status-1" value="Inactivo">
      Inactive
    </label>
	</div>
  </div>
</div>


<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="btn-save"></label>
  <div class="col-md-4">
    <button id="btn-save" name="btn-save" class="btn btn-success">Guardar</button>
  </div>
</div>

</fieldset>
</form>
</div> 
	    



<!-- LIST -->
<div class=col-md-12>
    
    <form id="form-list-client">
            <legend>List of clients</legend>
    
    <div class="pull-right">
        <a class="btn btn-default-btn-xs btn-primary"><i class="glyphicon glyphicon-refresh"></i> Refresh</a>
        <a class="btn btn-default-btn-xs btn-success"><i class="glyphicon glyphicon-plus"></i> New</a>
    </div>
    <div id="table_list"></div>
    </form>

    
</div>


<br> 

<!-- view -->

<div class="col-md-12">
    
    <legend>View client</legend>
    
    <div >
        
              <div class2=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Name:</td>
                        <td>Andre Silva</td>
                      </tr>
                      <tr>
                        <td>Email</td>
                        <td><a href="mailto:info@support.com">info@support.com</a></td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        
        
    </div>
            <div class="panel with-nav-tabs panel-default">
                <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab1default" data-toggle="tab">Default 1</a></li>
                            <li><a href="#tab2default" data-toggle="tab">Default 2</a></li>
                            
                            <li><a href="#tab3default" data-toggle="tab">Default 3</a></li>
                            <!--
                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#tab4default" data-toggle="tab">Default 4</a></li>
                                    <li><a href="#tab5default" data-toggle="tab">Default 5</a></li>
                                </ul>
                            </li>
                            -->
                        </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1default">Default 1</div>
                        <div class="tab-pane fade" id="tab2default">Default 2</div>
                        <div class="tab-pane fade" id="tab3default">Default 3</div>
                        <!--
                        <div class="tab-pane fade" id="tab4default">Default 4</div>
                        <div class="tab-pane fade" id="tab5default">Default 5</div>
                        -->
                    </div>
                </div>
            </div>

</div>
	    
	    
	</div>
</div>
<script>
$(document).ready( getListaFamily() );

function getListaFamily(){
            
            $('#table_list').html("<div class='d-flex justify-content-center'><img src='{{url_for('static', filename = 'img/loader.gif')}}' alt='loader' ></div>");
               $.get("/select", function(data) {
                    $("#table_list").html(data);
                });
            }
</script>
