<table class="table table-bordered table-condensed table-hover">
    <thead>
        <tr>
            <td>Name</td>
            <th>Email</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
            
    </thead>
    <tbody id="form-list-client-body">
        <tr>
            <td>Eduardo</td>
            <td>eluz@counterpath.com</td>
            <td>Active</td>
            <td>
                <a title="view this user" class="btn btn-default btn-sm "> <i class="glyphicon glyphicon-eye-open text-primary"></i> </a>
                <a title="edit this user" class="btn btn-default btn-sm "> <i class="glyphicon glyphicon-edit text-primary"></i> </a>
                <a title="delete this user" class="btn btn-default btn-sm "> <i class="glyphicon glyphicon-trash text-danger"></i> </a>
                
                <a title="check credit" class="btn btn-default btn-sm "> <i class="glyphicon glyphicon-duplicate text-danger"></i> </a>
                <a title="generate invoice" class="btn btn-default btn-sm "> <i class="glyphicon glyphicon-level-up bg-success"></i> </a>
               
            </td>
        </tr>
    </tbody>
</table>